* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: var(--whiteFont);
}

:root {
    --darkBlue: #1f2937;
    --whiteFont: #fff;
    --pageWidth: 70%;
    --pageInnerWidth: 70%;
}

body {
    background-color: black;
}

.topLevel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topNavigationContainer {
    display: flex;
    justify-content: center;
    width: var(--pageWidth);
    background-color: var(--darkBlue);
}

.headerContainer {
    display: flex;
    justify-content: center;
    background-color: var(--darkBlue);
    width: var(--pageWidth);
}

.navigationSecondLevelContainer {
    width: var(--pageInnerWidth);
    display: flex; 
}

.headerSecondLevelContainer {
    width: var(--pageInnerWidth);
    display: flex; 
}


.siteDescriptionContainer,
.siteImageConatiner {
    flex: 1 1 auto;
}
    
.logo {
    width: 60px;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    margin-right: auto;
}

.handShakeImage {
    width: 400px;
    height: auto;
    object-fit: cover;
    overflow: hidden;  
    border: #fff solid 1px;
}

.listContainer {
    display: flex;
    justify-content: flex-end;
    width: var(--pageInnerWidth);
}

.listContainer li {
    list-style-type: none;
    padding: 10px;

}

.firstNavItem {
    margin-right: auto;
}
