* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.topNavigationContainer {
    display: flex;
    justify-content: center;
}

.listContainer {
    display: flex;
    width: 70%;
}

.listContainer li {
    list-style-type: none;
    padding: 10px;
}

.firstNavItem {
    margin-right: auto;
}